<mat-toolbar color="primary" class="mat-elevation-z0">
  <mat-toolbar-row>
    <div class="container">
      <img
        mat-card-image
        class="custom"
        src="assets/img/product.jpeg"
        height="30"
      />
      <!-- Click on Product icon Routing to Product Page-->
      <button
        mat-icon-button
        class="button"
        routerLink="/product"
        routerLinkActive="active"
      >
        product
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="pic">
  <span class="home">
    <img src="assets/img/home.png" align="center" />
  </span>
</div>

<div class="text">
  <span>Welcome</span>
</div>
