<mat-toolbar color="primary" class="mat-elevation-z0">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example apps icon">apps</mat-icon>

    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <!--click on the Home Button to routing to HomePage-->
    <a routerLink="/home" routerLinkActive="active" mat-button> >Home </a>
  </mat-toolbar-row>
</mat-toolbar>

<!--create Footer-->
<div class="Footer">
  <span> Dot Care 5.0.0.1.&copy; Copyright 2021, AHBS.</span>
</div>
